@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.leftarrow {
  background-image: url('../src/img/button_left.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 224px;
  background-size: contain;
}

.rightarrow {
  background-image: url('../src/img/button_right.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 224px;
  background-size: contain;
}




.button {
  color: #FFF;
  font-family: 'Chewy', cursive;
  background-image: url('../src/img/button_background.png');
  font-size: 30pt;
  border-radius: 25px;
  padding: 10px 30px 10px;
  line-height: 80px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-size: contain;
  width: 100%;
}

.button:hover {
  color: #FFF;
  font-family: 'Chewy', cursive;
  text-decoration: none;
}

.coins {
  background-image:  url('../src/img/coins_background.png');
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left:50px;
  padding-top:30px;
  font-family: 'Chewy', cursive;
  color: #000;
  font-size: 50pt;
  width:324px;
  height:166px;
}

.tshirt {
  background-image:  url('../src/img/button_tshirt.png');
  position: absolute;
  left:20px;
  bottom: 0px;
  width:283px;
  height:289px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes wobble {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image {
  display: block;
  margin: 0 auto;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
  position: fixed;
  z-index: 100;
  width: 110%;
  height: 110%;
  bottom: -25%;
  right: -33%;
  visibility: visible;
  background-image: url('../src/img/assets/GH_astronaut_v01.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.imageActive {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(0, +100vh);
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
  z-index: 100;
  visibility: hidden;
}


html,
body,
#root {
  height: 100%;
  font-family: 'Chewy', cursive;
  font-weight: 400;
}

.turn {
  margin: 20vh;
}

.turn img {
  width: 15vw;
  margin: 20%;
}

@media screen and (orientation:portrait) {

  .landscape {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .portrait {
    display: initial;
  }

  html,
  body,
  #root {
    height: initial;
  }

}

@media screen and (orientation:landscape) {

  .portrait {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .landscape {
    display: initial;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .landscape h1 {
    text-align: center;
  }

  .landscape h5 {
    display: inline;
  }

  /* .landscape Button {
    margin: 0px 10px;
  } */

}