@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
    
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes wobble {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image {
  display: block;
  margin: 0 auto;
}
.image[wobble='1'] {
  animation: wobble 1s 1;
}

html,
body,
#root {
    height: 100%;
    font-family: 'Chewy', cursive;
    font-weight: 400; 
}

.turn {
  margin: 20vh;
}

.turn img {
  width: 15vw;
  margin: 20%;
}

@media screen and (orientation:portrait) {

  .landscape {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .portrait {
    display: initial;
  }

  html,
  body,
  #root {
    height: initial;
  }

}

@media screen and (orientation:landscape) {

  .portrait {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .landscape {
    display: initial;
    color: white;
  }

  .landscape h1 {
    text-align: center;
  }

  .landscape h5 {
    display: inline;
  }

  .landscape Button {
    margin: 0px 10px;
  }

}